.section_Companies{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 100px;
}
.logo_box{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo{
    
    cursor: pointer;
}
.logo:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
}