.VacancyCard{
    width: 430px;
    height: 350px;
    padding: 40px 45px;
    display: flex;
    flex-direction: column;
  justify-content: space-between;
    background-color: #fff;
    box-shadow: 3px 1px 9px 0px rgba(0,0,0,0.36);
}
.VacancyCard:hover{
    transform: translateY(5px);
    box-shadow: 9px 5px 9px 0px rgba(0,0,0,0.36);
    transition: 0.5s;
}
.category{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 15px;
    color: #8D8D8DCC;
}

.point{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.title{
    width: 260px;
    font-size: 22px;
}


.location{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #8D8D8DCC;
    
}
.loc_icon{
    width: 14px;
    height: 19px;
    margin: 0;
    cursor: none;
}

.logo{
    width: 70px;
    height: 12px;
    margin: 0;
    margin-right: 10px;
}
.logo_time{
    font-size: 15px;
    color: #8D8D8DCC;
}